<div class="container">
  <div style="text-align:center">
    <h1>
      Code Weave
    </h1>
  </div>

  <div class="row">
    <div class="col-md-12">
        <h3>Template Code</h3>
        <textarea
          class="form-control"
          rows="12"
          [(ngModel)]="model.Take"
          (ngModelChange)="modelChange()"
          placeholder="The seed code"
        >
        </textarea>
        <div ngNonBindable>Note: {{index}} can be used to insert an index value</div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
        <h3>Substitutions</h3>
        <div>
            <button class="btn btn-primary" (click)="addWeaveSet()">Add</button>
            <button class="btn btn-primary" (click)="Weave()">Weave</button>
        </div>
        <div *ngFor="let weaveSet of model.WeaveSets" style="float: left">
            Substitution Value <span (click)="deleteWeaveSet(weaveSet)">(Delete)</span>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="weaveSet.SubstitutionValue"
              (ngModelChange)="modelChange()"
            />
            Swap Values
            <!-- <div *ngFor="let swapValue of weaveSet.SwapValues; index as i; trackBy:trackByFn">
              <input
                class="form-control"
                type="text"
                [ngModel]="weaveSet.SwapValues[i]"
                (ngModelChange)="updateSwapValue(weaveSet, i, $event)"
              />
            </div> -->

            <textarea class="form-control" rows="10" [(ngModel)]="weaveSet.SwapValuesText"
              (ngModelChange)="modelChange()"></textarea>
        </div>
        <div style="clear: both"></div>
    </div>
    <!-- <div style="clear: both"></div> -->
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <h3>Weave Result</h3>
      <textarea class="form-control" rows="10" [ngModel]="result"></textarea>
    </div>
  </div>
</div>
